<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-left">
      <span>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</span>
    </div>
    <div class="footer-right">
      <a class="social email" data-email data-email-icon aria-label="Email" title="Email">
        <svg viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
          <path d="M2 6.5A2.5 2.5 0 0 1 4.5 4h15A2.5 2.5 0 0 1 22 6.5v11A2.5 2.5 0 0 1 19.5 20h-15A2.5 2.5 0 0 1 2 17.5v-11zm2.2-.4l7.3 5.2c.3.2.7.2 1 0l7.3-5.2c.2-.2.2-.5-.1-.6a2 2 0 0 0-1.2-.4h-12a2 2 0 0 0-1.2.4c-.3.1-.3.4-.1.6zM20 8.6l-6.3 4.4a2.5 2.5 0 0 1-2.9 0L4.5 8.6V17c0 .3.2.5.5.5h15c.3 0 .5-.2.5-.5V8.6z"/>
        </svg>
      </a>
      {% include social.html %}
    </div>
  </div>
</footer>
