{% assign scope = include.scope %}
{% assign groups = site.data.taxonomy.groups[scope] %}
{% assign allowed = '' %}
{% if scope == 'publications' %}
  {% assign allowed = 'mps|rs|geostatistics|first-author|last-author' | split: '|' %}
{% endif %}
<div id="filters-{{ scope }}" class="filters">
  {% for tag in site.data.taxonomy.tags %}
    {% assign show = '' %}
    {% for g in tag.groups %}
      {% if groups contains g %}
        {% assign show = '1' %}
      {% endif %}
    {% endfor %}
    {% if show == '1' and (allowed == '' or allowed contains tag.key) %}
      <button type="button" class="tag-chip" data-tag="{{ tag.key }}" title="{{ tag.label }}">
        {% if tag.logo %}<img src="{{ tag.logo | relative_url }}" alt="{{ tag.label }}">{% endif %}
        <span>{{ tag.label }}</span>
      </button>
    {% endif %}
  {% endfor %}
</div>
