{% assign scope = include.scope %}
{% assign allowed = site.data.taxonomy.filters[scope] %}
<div id="filters-{{ scope }}" class="filters" data-filter-scope="{{ scope }}" role="group" aria-label="Filter items">
  {% for key in allowed %}
    {% assign tag = site.data.taxonomy.tags | where: 'key', key | first %}
    {% if tag %}
      <button type="button" class="tag-chip" data-tag="{{ tag.key }}" aria-pressed="false">
        {% if tag.logo %}<img src="{{ tag.logo | relative_url }}" alt="" width="16" height="16">{% endif %}
        <span>{{ tag.label }}</span>
      </button>
    {% endif %}
  {% endfor %}
</div>
